# Virtual environment
venv/
.venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyd
*.pyo

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Database
*.sqlite3
db.sqlite3

# Distribution archives
dist/
build/
*.egg-info/

# Temporary files
*.tmp